@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
background-color: burlywood;
background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
background-size: 20px 100px;
text-align: center;
margin: auto;
font-family: "Poetsen One", serif;
}

h1{
  font-size: 30px;
  color: rgb(122, 0, 61);
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid burlywood;
}
